.content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.order {
  height: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--white);
}

.container {
  padding: 32px 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .order__image {
  display: block;
} */

.order__title {
  color: var(--dark-blue);
  font-size: 22px;
  font-weight: 900;
  margin: 0 0 17px;
}

@media screen and (min-width: 960px) {
  .order__title {
    font-size: 28px;
  }
}

.order__subtitle {
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  margin: 0 0 24px;
}

.order__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  box-sizing: border-box;
  background-color: var(--very-pale-blue);
  border-radius: 11px;
  width: 100%;
  
}

.order__icon {
  width: 48px;
  height: 48px;
  margin-right: 20px;
}

.order__price {
  font-size: 14px;
}